*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.main{
    background: linear-gradient(180deg, #fff1d1 -100%, #facaf3 100%, #f599c0 100%);
}

.container{
    max-width: 1180px;
    margin: 0 auto;

    justify-content: space-between;
}
.text{
    color: #703838;
    flex: 0 0 580px;
    padding-top: 30px;
}

h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h1 span{
    color: #f599c0;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}

p{
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 10px;
}

a{
    background-color: #fff1d1;
    color: #703838;
    border-radius: 7px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

img{
    width: 640px;
    height: 480px;
}

